*{
  margin:0;
  padding:3px;
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  background-image: linear-gradient(45deg, transparent, blue, transparent);
  text-align: center;
  color: white;
}
body {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
  background: linear-gradient(to right, #FFFDE4, #005AA7);
}
#priorities{
  margin-top: 8%;
  padding: 2%;
}
input[type=text1] {
  width: 50%;
  padding: 12px 10px;
  margin-top: 20px;
  margin-left: 28%;
  box-sizing: border-box;
  border: 2px solid rgb(8, 8, 102);
  border-radius: 4px;
}
#Next {
  background-color: darkblue;
  border: 1px solid black;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  border-radius: 10px;
  margin-left: 47%;
}
#Next:hover {
  color: black;
}


#ranks{
  display: none;
}


table {
  
  background-color: white; 
  width: 80%;
  height: 200px;
  margin-top: 8%;
  margin-left: 140px;
  border: 1px solid black;
  border-collapse: collapse;
}
 #header{ background-color:blue;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
#header:hover{
    color: black;

}
th{
  border: 1px solid black;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  
  text-align: center;
}

#rank1, #rank2, #rank3{
  background-color: blue;
  color: white;

} 
  #priority1, #priority2, #priority3{
    border: none;
    text-align: center;
  }
#priority1factor1, #priority1factor2, #priority1factor3,#priority1factor4,#priority1factor5,#priority1factor6{
  background-color: white; 
  border: white;
  width: 100%;
  text-align: center;
}
#priority2factor1, #priority2factor2, #priority2factor3,#priority2factor4,#priority2factor5,#priority2factor6{
  background-color: white; 
  border: white;
  width: 100%;
  text-align: center;
}
#priority3factor1, #priority3factor2, #priority3factor3,#priority3factor4,#priority3factor5,#priority3factor6{
  background-color: white; 
  border: white;
  width: 100%;
  text-align: center;
} 
.btn {
  position: absolute;
  margin: 5%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#Submit {
  background-color:blue;
  border: 1px solid black;
  color:white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: -12px 2px;
  border-radius: 10px;
}
#Submit:hover {
  background-color: skyblue;
  color:black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (max-width: 768px) {
  #priorities{
    margin-top: 35%;
    margin-bottom: -8%;
  }
  #Next {
    position: absolute;
    margin-top:10%; 
    margin-left: 34%;
    font-size: medium;
    font-weight: 300;
}
  #Next:hover {
    background-color: blue;
    color: black;
}
  .btn{
    position: absolute;
    left: 27%;
  }
  #Submit {
    position: absolute;
    bottom: -60px;
    font-size: medium;
    font-weight: 700;
  }
  #Submit:hover {
    background-color:blue;
    color:black;
  }
  
  table{
    margin-top:68px;
    width: 90%;
    margin-left: 5%;
  }}
@media only screen and (max-width:768px) {
tr{
    display: block;
    float: left;
    width: 25%;
  }
  th,td {
    display: block;
    min-height: 40px;
  }
  .numbase{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  th{
     display: block;
    min-height: 40px;
    font-size: small;
  }
}