*{
  margin:0;
  padding:3px;
  box-sizing: border-box;

}

h1{
  text-align: center;

  color:maroon;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Submit {
  background-color:maroon;
  border: 1px solid black;
  color:white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

#Submit:hover {
  background-color:maroon;
  color: white;
}

table {
  width: 100%;
  height: 200px;
  margin: 0;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: hotpink;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  ;
  text-align: center;
}

#main, #main2, #main3, #data, #data2, #data3 {
  background-color: hotpink
}

#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #r {
  border: none;
  width: 100%;
}

#task, #task2, #task3 {
  border: none;
  width: 99%;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: whitesmoke;
  }
  .container{
    position: absolute;
    top: 55%;
    left: 35%;
  }
  #Submit {
    position: absolute;
    bottom: -280px;
    font-size: medium;
    font-weight: 700;
  }
  
  table{
    margin-top: 20px;
  }
}

@media only screen and (max-width:768px) {
  tr {
    display: block;
    float: left;
    width: 25%;
  }
  th, td {
    display: block;
    min-height: 40px;
  }
  .parameter{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  th, td {
    display: block;
    min-height: 50px;
  }
}